.container {
  max-width: 400px;
  margin: "auto";
}
.heading {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.label {
  font-weight: bold;
  margin-bottom: 1rem;
}
.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.asterick {
  color: red;
}
.submit-button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
