.container {
  max-width: 400px;
  margin: auto;
}
.heading {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}

.form-group {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.label {
  font-weight: bold;
  margin-bottom: 0.2rem;
}
.input {
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.input-error {
  border-color: red;
}
.asterick {
  color: red;
}
.submit-button {
  padding: 10px 15px;
  background-color: #28a745;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.submit-button:hover {
  background-color: #218838;
}

.success-message {
  border: 1px solid green;
  border-radius: 4px;
  background-color: white;
  margin-top: 0.2rem;
  padding: 10px;
  color: green;
  font-size: 0.9rem;
}

.error-message {
  color: red;
  font-size: 0.9rem;
}
